html, body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
  }
  canvas {
    display: block;
  }
  p {
    padding: 5px 25px 5px;
  }
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 90%; /* Full-width */
    height: 12px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin-left: 100px;
    display: none;
  }
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 16px; /* Slider handle height */
    background: #041daa; /* blue background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 16px; /* Slider handle height */
    background: #041daa; /* blue background */
    cursor: pointer; /* Cursor on hover */
  }
  

.iconToggle{
  width: 40px;
  height: 40px;
  padding: 5px;
  border: .5px solid black;
  box-shadow: 2px 2px 3px grey;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  filter: brightness(.5);
  cursor: pointer;
}
.iconToggle:hover{
  width: 45px;
  height: 45px;
  margin-left: -2px;
  margin-top: -1px;
}
label{
  margin-left: 125px;
  margin-top: -50px;
  font-style: italic;
  display: none;
}
.advancedInput{
  margin-left: 100px;
  margin-top: -40px;
  width: 100px;
  display: none;
  margin-bottom: 17px;
}
.advancedInput::-webkit-slider-thumb{
  width: 10px;
}
.advancedInput::-moz-range-thumb{
  width: 10px;
}
.advancedSubmit{
  display: none;
}
#advancedFeatures{
  height: 140px;
  -moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
  user-select: none;
}
#lanselect{
  position: fixed;
  height: auto;
  width: 105px;
  background-color: rgb(211, 211, 211);
  top: 0;
  right: 0;
  display: flex;
  padding: 5px;
  padding-right: 9px;
  border-radius: 5px;
  border: 4px solid rgb(181, 181, 181);
  margin: 4px;
}
#lanselect>img{
  height: 35px;
  transition: all 0.2s ease-in-out;
  float: left;
  border-radius: 3px;
  cursor: pointer;
}
#lanselect>img:hover{
  margin-left: -2px;
  height: 38px;
}
#langen{
  padding-right: 5px;
}
#langnl{
  filter: opacity(60%);
}
button{
  cursor: pointer;
}